<h1 class="text-center mt-4">Listing all articles</h1>

<div class="row justify-content-md-center mt-4">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article' %>
<div class="row justify-content-md-center  mb-4">
    <%= will_paginate @articles, :container => false %>
</div>